<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<DirectoryRef Id="TARGETDIR">
			<Directory Id="ProgramFilesFolder" Name="PUC-Lua">
				<Directory Id="INSTALLDIR" Name="PUC-Lua">
					<Directory Id="luaversiondir" Name="%version%">
						<Directory Id="luabin32dir" Name="bin32"/>	
						<Directory Id="luaincludedir" Name="include"/>
						<Directory Id="luasourcedir" Name="src"/>
					</Directory>
				</Directory>
			</Directory>
			 <Directory Id="ProgramMenuFolder">
                <Directory Id="ApplicationProgramsFolder" Name="PUC-Lua"/>
            </Directory>
		</DirectoryRef>
	
		<DirectoryRef Id="luabin32dir">
			%binary32_dir%
			<Component Id="libgcc_s_dw2_1.dll" Guid="2dcf74e1-96a3-4d60-99ed-4f72e5e646f3">
				<File Id="libgcc_s_dw2_1.dll" Source="libgcc_s_dw2-1.dll" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Id="set_path" Guid="aae704ce-93bb-4d56-b855-c1f441de3365">
				<CreateFolder/>
				<Environment Id="PATH" Name="PATH" Value="[luabin32dir]" Permanent="yes" Part="last" Action="set" System="yes" />
			</Component>
		</DirectoryRef>
		<DirectoryRef Id="luaincludedir">
			%luainclude_dir%
		</DirectoryRef>
		<DirectoryRef Id="luasourcedir">
			%luasource_dir%
		</DirectoryRef>

		<DirectoryRef Id="ApplicationProgramsFolder">
			<Component Id="ApplicationShortcut32" Guid="bedbf7eb-ae81-49cd-b84b-7673cdc7ce69">
				<Shortcut Id="ApplicationStartMenuShortcut32"
				          Name="Lua %version% 32 Bit"
				          Description="PUC-Lua 32 bit Interpreter"
				          Target="[#lua.exe_32]"
				          WorkingDirectory="luabin32dir">
				</Shortcut>
				<RemoveFolder Id="CleanUpShortCut32" Directory="ApplicationProgramsFolder" On="uninstall"/>
				<RegistryValue Root="HKCU" Key="Software\Microsoft\PUC-Lua-%version%-32" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
			</Component>
		</DirectoryRef>
</Fragment>
</Wix>
