<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="none"
		Name=""
		Language="1033"
		Version="1.0.0.0"
		UpgradeCode="F58BC11F-483E-4DF7-9D48-6F805A320988"
		Manufacturer="">
		<Package Description=""
			Comments= "THIS IS A DUMBY FILE."
			InstallerVersion="200"
			Compressed="yes"
		/>
	</Product>
</Wix>
