<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*"
	         Name="PUC-Lua %version%"
	         Language="1033"
	         Version="%version%"
	         UpgradeCode="EF4FD407-4A44-4407-B3DB-EAD4679E3C13"
	         Manufacturer="PUC-Rio">
		<Package Description="Lua is a powerful, efficient, lightweight, embeddable scripting language.
		         It supports procedural programming, object-oriented programming, functional programming,
		         data-driven programming, and data description."
		         Comments="Comments"
		         InstallerVersion="200"
		         Compressed="yes"/>
		<!--
			Source media for the installation. 
 			Specifies a single cab file to be embedded in the installer's .msi. 
		-->
		<Media Id="1" Cabinet="contents.cab" EmbedCab="yes" CompressionLevel="high"/>
		
		<Icon Id="icon.ico" SourceFile="../Icon_1.ico"/>
		<Property Id="ARPPRODUCTICON" Value="icon.ico" />
		
		<!-- Installation directory and files are defined in Files.wxs -->
		<Directory Id="TARGETDIR" Name="SourceDir">		
		</Directory>
		
		<Feature Id="Complete" Title="PUC-Lua" Description="PUC-Lua" Level="1">
			<Feature Id="Source" Title="Lua Source Code" Level="1">
				%source_feature%
			</Feature>
			
			<Feature Id="Include" Title="Lua Header Files" Level="1">
				%include_feature%
			</Feature>
					
			<Feature Id="Binary32" Title="Lua 32 Bit Binary Files" Level="1">
				%binary32_feature%
				<ComponentRef Id="libgcc_s_dw2_1.dll"/>
				<ComponentRef Id="set_path"/>
				<ComponentRef Id="ApplicationShortcut32"/>		
			</Feature>
		</Feature>

		<!--
			Using the Wix UI library
 
			WixUI_InstallDir does not allow the user to choose 
			features but adds a dialog to let the user choose a 
			directory where the product will be installed
		-->
		<Property Id="WIXUI_INSTALLDIR">INSTALLDIR</Property>
		<UIRef Id="WixUI_InstallDir"/>
	</Product>
</Wix>
